/* ==UserStyle==
@name         RFC Centering
@description  Centers the content of RFCs
@namespace    datatracker.ietf.org
@author       DerEnderKeks
@version      0.0.1
@license      MIT
==/UserStyle== */

@-moz-document url-prefix("https://datatracker.ietf.org/doc/html/") {
body {
    margin: 0;
}

div.content {
    margin-left: auto;
    margin-right: auto;
}
}
