/* ==UserStyle==
@name           pagat.com
@description    Makes pagat.com more readable
@namespace      https://gitlab.com/DerEnderKeks
@version        0.0.1
@author         DerEnderKeks

@var          text     containerWidth "Container Width" 800px
==/UserStyle== */

@-moz-document domain("pagat.com") {
    .container {
        width: var(--containerWidth);
        margin: auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: unset;
    }

    .crumbbar {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}